<?xml version="1.0" encoding="utf-8"?>

<!-- This file is necessary to pull Nuget packages hosted in GitHub NuGet registry. -->
<!-- Replace '{{YOUR_USER_NAME}}' and '{{YOUR_GITHUB_TOKEN}}' with actual values and rename file to 'nuget.config'. -->
<!-- Make sure you've forked repositories for the required Nuget packages and ran the necessary workflows to push them to your NuGet registry. -->
<!-- Do not push this file to your public repository after replacing '{{YOUR_GITHUB_TOKEN}}', these tokens should not be shared!. (keep it ignored in .gitignore) -->
<configuration>
  <packageSources>
	<add key="github" value="https://nuget.pkg.github.com/{{YOUR_USER_NAME}}/index.json" />
  </packageSources>
  <packageSourceCredentials>
	<github>
	  <add key="Username" value="{{YOUR_USER_NAME}}" />
	  <add key="ClearTextPassword" value="{{YOUR_GITHUB_TOKEN}}" />
	</github>
  </packageSourceCredentials>
</configuration>